<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
</head>
<body>
    <h2>Login</h2>
    <form action="/predictwine" method="POST">
        <label for="alcohol">Alcohol:</label>
        <input type="text" id="alcohol" name="alcohol" required><br><br>
        
        <label for="malic_acid">Malic Acid:</label>
        <input type="text" id="malic_acid" name="malic_acid" required><br><br>
        
        <label for="ash">Ash:</label>
        <input type="text" id="ash" name="ash" required><br><br>
        
        <label for="ash_alcanity">Ash Alcanity:</label>
        <input type="text" id="ash_alcanity" name="ash_alcanity" required><br><br>
        
        <label for="magnesium">Magnesium:</label>
        <input type="text" id="magnesium" name="magnesium" required><br><br>
        
        <label for="total_phenol">Total Phenol:</label>
        <input type="text" id="total_phenol" name="total_phenol" required><br><br>
        
        <label for="flavanoids">Flavanoids:</label>
        <input type="text" id="flavanoids" name="flavanoids" required><br><br>
        
        <label for="nonflavanoids">Nonflavanoids:</label>
        <input type="text" id="nonflavanoids" name="nonflavanoids" required><br><br>
        
        <label for="proanthocyanins">Proanthocyanins:</label>
        <input type="text" id="proanthocyanins" name="proanthocyanins" required><br><br>
        
        <label for="color_intensity">Color Intensity:</label>
        <input type="text" id="color_intensity" name="color_intensity" required><br><br>
        
        <label for="hue">Hue:</label>
        <input type="text" id="hue" name="hue" required><br><br>
        
        <label for="OD280">OD280:</label>
        <input type="text" id="OD280" name="OD280" required><br><br>
        
        <label for="proline">Proline:</label>
        <input type="text" id="proline" name="proline" required><br><br>
        
        <input type="submit" value="Predict">
    </form>
</body>
</html>
